<div id="servicds">
  <div class="start">
    <div class="container  text-light">
      <div class="serv-section p-3">
        <p class="fw-bold firsttxt d-flex align-items-center">Projects</p>
        <h2 class="fw-bold letter mb-4">MY MAGIC</h2>
        <!-- <p class="text-light text-center fa-2x">I APOLOGIZE FOR ENDING THIS PAGE AT THE MOMENT, WHAT YOU SEE NOW IS JUST AN DEMO. (:</p> -->
        <div class="row gy-4 pb-3">
          <div class="col-lg-4">
            <div class="detels">
              <img src="/assets/image/QNB.png" class="w-100" alt="">
              <h1 class="text-center">Fixer</h1>
              <h4>HYML CSS JAVASCRIPT API BOOTSTRAP JQuery</h4>

              <div class="dec">
                <h1>Currency Converter</h1>
                <p>
                  The Currency Converter is a streamlined web application that simplifies currency exchange using
                  real-time data from the Bank of Egypt API. Designed with a clean and user-friendly interface, the
                  platform allows users to quickly convert between currencies with accurate rates, making it an
                  essential tool for everyday financial transactions.
                </p>
              </div>

              <div class="butttom d-flex justify-content-center align-items-center">
                <a class="btn btn-primary me-2">Security <i class="fa-solid fa-user-lock"></i></a>
              </div>


            </div>
          </div>
          <div class="col-lg-4">
            <div class="detels">
              <img src="/assets/image/QR.png" class="w-100" alt="">
              <h1 class="text-center">QR Scanner Attendance</h1>
              <h4>HYML CSS JAVASCRIPT API BOOTSTRAP JQuery Database Mock API JWT Angular </h4>

              <div class="dec">
                <h1>Attendance QR System</h1>

                <p> The Attendance QR System is an advanced web platform designed for seamless student attendance
                  management using QR codes. With a focus on speed and high responsiveness, the system efficiently
                  integrates with APIs and databases to handle data in real-time. It includes a robust master dashboard
                  for comprehensive control and monitoring, individual sign-in functionality for users, and secure
                  encryption for every email and password, ensuring data privacy and security. </p>
              </div>

              <div class="butttom d-flex justify-content-center align-items-center">
                <a class="btn btn-primary me-2">Security <i class="fa-solid fa-user-lock"></i></a>
              </div>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="detels">
              <img src="/assets/image/Yummy.png" class="w-100" alt="">
              <h1 class="text-center">Yummy</h1>
              <h4>HYML CSS JAVASCRIPT API BOOTSTRAP JQuery AI</h4>

              <div class="dec">
                <h1>Lets Check The Food</h1>
                <p>Yummy is a comprehensive web platform celebrating the art of cooking and culinary exploration.
                  Featuring a rich collection of recipes, meal inspiration, cooking tips, and a thriving community, it
                  is designed to be the ultimate destination for food enthusiasts seeking to create and savor
                  extraordinary dishes.</p>
              </div>

              <div class="butttom d-flex justify-content-center align-items-center">
                <a class="btn btn-primary me-2" href="https://github.com/A7me2d/Yummy-Best">GitHub <i
                    class="fa-brands fa-github"></i></a>
                <a class="btn btn-primary me-2" href="https://yummy-best.vercel.app/">Live Magic <i
                    class="fa-solid fa-joint"></i></a>
              </div>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="detels">
              <img src="/assets/image/Table.png" class="w-100" alt="">
              <h1 class="text-center">Smart Schedule Manager</h1>
              <h4>HYML CSS TYPESCRIPT API BOOTSTRAP JQuery Angular</h4>

              <div class="dec">
                <h1>Institute Scheduling and Management System</h1>
                <p>
                  The Institute Scheduling System is a comprehensive web application developed to manage and organize
                  schedules for professors and teaching assistants. The platform utilizes APIs and a robust database to
                  store and retrieve schedule data efficiently. It features a secure sign-in system, where each account
                  has specific permissions based on user roles. A master account has full control, allowing for
                  modifications to any data. The application also includes a dynamic dashboard that displays the entered
                  information, providing a clear and intuitive overview for efficient management.
                </p>
              </div>

              <div class="butttom d-flex justify-content-center align-items-center">
                <a class="btn btn-primary me-2" href="https://github.com/A7me2d/TEAM">GitHub <i
                    class="fa-brands fa-github"></i></a>
                <a class="btn btn-primary me-2">Security <i class="fa-solid fa-user-lock"></i></a>
              </div>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="detels">
              <img src="/assets/image/Weather.png" class="w-100" alt="">
              <h1 class="text-center">Weather</h1>
              <h4>HYML CSS JAVASCRIPT API BOOTSTRAP AI</h4>

              <div class="dec">
                <h1>Lets Check The Weather</h1>
                <p>The Weather App is a dynamic web application designed to provide users with real-time weather updates
                  and forecasts for various locations. By integrating a weather API, it delivers accurate and up-to-date
                  information through an intuitive and user-friendly interface, enhancing the experience of exploring
                  weather conditions effortlessly.</p>
              </div>

              <div class="butttom d-flex justify-content-center align-items-center">
                <a class="btn btn-primary me-2" href="https://github.com/A7me2d/Weather-Website">GitHub <i
                    class="fa-brands fa-github"></i></a>
                <a class="btn btn-primary me-2" href="https://weather-website-roan-theta.vercel.app/">Live Magic <i
                    class="fa-solid fa-joint"></i></a>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>