



<div id="first" class="vh-100">
<div class="container p-4">
    <h1 class="text-light">My Projects</h1>
    <div class="projects">
        <div class="row">
            <div class="col-lg-3 text-center">
              <div class="section-detels">
                <img src="../../assets/Dan/about-dan.png" class="w-100" alt="">
                <h1 class="text-light">Lorem Ipsum</h1>
                <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
              <div class="section-detels">
                <img src="../../assets/Dan/about-dan.png" class="w-100" alt="">
                <h1 class="text-light">Lorem Ipsum</h1>
                <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
              <div class="section-detels">
                <img src="../../assets/Dan/about-dan.png" class="w-100" alt="">
                <h1 class="text-light">Lorem Ipsum</h1>
                <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
              </div>
            </div>
        </div>
    </div>
</div>
</div>


