<div id="about">
    <div class="container overflow-hidden">
        <div class="about-section p-3 pb-5 border-bottom">
            <div class="row">
                <p class="fw-bold firsttxt d-flex align-items-center">About</p>
                <h2 class="fw-bold letter mb-4">LEARN MORE ABOUT ME</h2>
                <div class="col-lg-4">

                    <img src="assets/image/1.png" class="w-100" alt="">
                </div>
                <div class="col-lg-8">
                    <h3 class="colortext pt-3">Front-end Developer</h3>
                    <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</P>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="fa fa-chevron-right pe-2 colortext"></i><span
                                        class="fw-bold">Birthday:</span> 11 May 2000</li>
                                <li><i class="fa fa-chevron-right pe-2 colortext"></i><span
                                        class="fw-bold">Website:</span> www.example.com</li>
                                <li><i class="fa fa-chevron-right pe-2 colortext"></i><span
                                        class="fw-bold">Phone:</span> +201285033997</li>
                                <li><i class="fa fa-chevron-right pe-2 colortext"></i><span class="fw-bold">City:</span>
                                    Cairo,Egypt</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="fa fa-chevron-right pe-2 colortext"></i><span class="fw-bold">Age:</span>
                                    24</li>
                                <li><i class="fa fa-chevron-right pe-2 colortext"></i><span
                                        class="fw-bold">Degree:</span> Bachelor</li>
                                <li><i class="fa fa-chevron-right pe-2 colortext"></i><span
                                        class="fw-bold">Email:</span> ahmed.karim524382@gmail.com</li>
                                <li><i class="fa fa-chevron-right pe-2 colortext"></i><span
                                        class="fw-bold">Freelance:</span> Available</li>
                            </ul>
                        </div>
                        <p>Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt
                            adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus
                            itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis
                            culpa magni laudantium dolores.</p>
                    </div>
                </div>
            </div>
        </div>
<div class="row text-center p-4 mt-5">
    <p class="fw-bold firsttxt d-flex align-items-center">Facts</p>
    <p class="text-start">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas</p>

    <div class="col-lg-3 p-4 ">
        <h2 class="fw-bold p-5 abs">
            <i id="icon" class="fa-regular fa-face-smile"></i>
            262
            <p class="fs-6 lead pt-2">Happy Clients consequuntur quae</p>
        </h2>
    </div>
    <div class="col-lg-3 p-4 ">
        <h2 class="fw-bold p-5 abs">
            <i id="icon" class="fa-solid fa-book-bookmark"></i>
            521
            <p class="fs-6 lead pt-2">Projects adipisci atque cum quia aut</p>
        </h2>
    </div>
    <div class="col-lg-3 p-4 ">
        <h2 class="fw-bold p-5 abs">
            <i id="icon" class="fa-solid fa-headphones"></i>
            1453
            <p class="fs-6 lead pt-2">Hours Of Support aut commodi quaerat</p>
        </h2>
    </div>
    <div class="col-lg-3 p-4 ">
        <h2 class="fw-bold p-5 abs">
            <i id="icon" class="fa-solid fa-users"></i>
                        32
            <p class="fs-6 lead pt-2">Hard Workers adipisci atque cum quia aut</p>
        </h2>
    </div>
  
</div>
        <div class="skill-section p-3 pt-5">
            <h3 class="fw-bold firsttxt d-flex align-items-center">SKILLS</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="procc">
                        <div class="fg d-flex justify-content-between">
                            <p class="skil">HTML</p>
                            <p class="skil">100%</p>
                        </div>

                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100">
                            <div
                            data-aos="fade-right"
                            class="progress-bar w-100"></div>
                        </div>
                    </div>
                    <div class="procc">
                        <div class="fg d-flex justify-content-between">
                            <p class="skil">CSS</p>
                            <p class="skil">90%</p>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="95"
                            aria-valuemin="0" aria-valuemax="100">
                            <div id="b90"
                            data-aos="fade-right"
                            class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="procc">
                        <div class="fg d-flex justify-content-between">
                            <p class="skil">JAVASCRIPT</p>
                            <p class="skil">80%</p>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100">
                            <div id="b80"
                            data-aos="fade-right"
                            class="progress-bar"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="procc">
                        <div class="fg d-flex justify-content-between">
                            <p class="skil">PHP</p>
                            <p class="skil">90%</p>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="95"
                            aria-valuemin="0" aria-valuemax="100">
                            <div id="b90"
                            data-aos="fade-right"
                             class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="procc">
                        <div class="fg d-flex justify-content-between">
                            <p class="skil">LARAVEL</p>
                            <p class="skil">70%</p>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-aos="fade-right" class="progress-bar w-75"></div>
                        </div>
                    </div>
                    <div class="procc">
                        <div class="fg d-flex justify-content-between">
                            <p class="skil">WORDPRESS</p>
                            <p class="skil">85%</p>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100">
                            <div id="b85" data-aos="fade-right" class="progress-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>