a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}


.active::after {
    content: '';
    display: block;
    width: 100%; /* التأكد أن العرض يظل مثبتًا */
    height: 2px;
    background-color: #F05A7F;
    transition: all 0.3s ease; /* انتقال سلس */
}

/* تأثير عند التمرير (hover) */
.nav-link:hover::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #F05A7F;
    transition: all 0.8s ease; /* تأثير عند التمرير */
}

/* إزالة التأثير عند العناصر غير النشطة */
.nav-link:not(.active)::after {
    content: '';
    width: 0%; /* فقط العناصر غير النشطة تبدأ بـ 0% */
    height: 2px;
    background-color: #F05A7F;
    transition: all 0.8s ease;
}

/* إضافة التأثير عند النقر (active) */
.nav-link:active::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #F05A7F;
}

// .content{
//     background-color: #1a1919b4 !important;  
//     padding: 40px !important;
//     transition: all  2s !important;
// }

.navbar{
    background-color: #1a1919b4 !important;
    transition: all  2s !important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
     --bs-gutter-x: 0 !important; 
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}