<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand " href="#">
            <img src="../../assets/image/5e18c466d27bcff999042d5f_logo-majestyk-icon.svg" class="w-25"  alt="">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
                </li>
            </ul>
        </div>
    </div>
</nav>