<div id="servicds">
    <div class="start">
        <div class="container  text-light">
            <div class="serv-section p-3">
                <p class="fw-bold firsttxt d-flex align-items-center">Services</p>
                <h2 class="fw-bold letter mb-4">MY SERVICES</h2>
                <div class="row gy-4 pb-3">
                    <div class="col-lg-4">
                        <div class="detels text-center">
                            <div class="icon">
                                <i class="fa-solid fa-code"></i>
                            </div>
                            <h1 class="text-white">Lorem Ipsum</h1>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="detels text-center">
                            <div class="icon">
                                <i class="fa-solid fa-walking"></i>
                            </div>
                            <h1 class="text-white">Sed ut perspiciatis</h1>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="detels text-center">
                            <div class="icon">
                                <i class="fa-solid fa-magnet"></i>
                            </div>
                            <h1 class="text-white">Magni Dolores</h1>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="detels text-center">
                            <div class="icon">
                                <i class="fa-solid fa-earth"></i>
                            </div>
                            <h1 class="text-white">Nemo Enim</h1>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="detels text-center">
                            <div class="icon">
                                <i class="fa-solid fa-screwdriver"></i>
                            </div>
                            <h1 class="text-white">Dele cardo</h1>
                            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="detels text-center">
                            <div class="icon">
                                <i class="fa-solid fa-dong-sign"></i>
                            </div>
                            <h1 class="text-white">Divera don</h1>
                            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>