
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Slackside+One&display=swap" rel="stylesheet">

<div id="home">
    <div class="back overflow-hidden">
        <div class="container">
        <div class="cont d-flex align-items-center">
           
                <div class="row d-inline-block">
                <!-- <img src="../../assets/image/goat2.webp" class="w-100" /> -->
                    <div class="col-lg-6">
                        <video autoplay loop [playsInline]="true" playsinline muted [muted]="'muted'" src="assets/image/video.mp4" class="w-100" id="one"></video>
                        <video autoplay loop [playsInline]="true" playsinline muted [muted]="'muted'" src="assets/image/video2.mp4" class="w-100 d-none" id="two"></video>
                    </div>
                    <div class="col-lg-6">
                        <div data-aos="fade-right"
                        data-aos-duration="3000"
                        class="detels text-white">
                        <p id="maintext" class="fa-3x">
                            Front-end Developer  
                        </p>
                            <h2 class="fa-3x">Welcome I`am  Ahmed Hany.</h2>
                            <h2>  Lets make magic.</h2>  
                            <p id="oo" class="fa-3x">You name it. Weve built it.</p>
                           <nav>
                            <ul>
                                <li><a href="https://www.facebook.com/profile.php?id=100006490234174&mibextid=LQQJ4d"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="Https://wa.me/+201285033997"><i class="fa-brands fa-whatsapp"></i></a></li>
                                <li><a href="https://www.instagram.com/ahmedhany.9?igsh=MWRyaGVhNHgzeG5sdQ%3D%3D&utm_source=qr"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/ahmed-hany-03b643291/"><i class="fa-brands fa-linkedin"></i></a></li>
                            </ul>
                           </nav>
                           <a class="text-center d-flex align-items-center justify-content-center tt" href="mailto:Ahmed.karim524382@gmail.com">
                            <h1 class="fa-1x d-block justify-content-center align-items-center ttg" >Contact Me</h1>
                           </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        
        <div class="sectwo vh-100 text-light d-flex align-items-center">
           <div class="container">
            <p class="mt-5 fa-2x" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-duration="1000"
            data-aos-easing="ease-in-sine">Think of the last time you were really wowd by a digital experience.</p>
              <p class="mt-5 fa-2x text-end" data-aos="fade-left"
              data-aos-offset="300"
              data-aos-duration="2000"
              data-aos-easing="ease-in-sine">No really, close your eyes and imagine it.</p>
             
           </div>
           
          
        </div>
        <div class="container">
            <div data-aos="zoom-in-down"
            data-aos-duration="1000"
            class="text-light text-center w-75 m-auto">
                <p>We ❤️ digital. We’ve spent our careers building it. Line by line, deliverable by deliverable and project by project. Take a look at our work and you’ll see how we are helping our partners lay the groundwork for the future of digital.</p>
               </div>
        </div>
        
    </div>
</div>