<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Slackside+One&display=swap"
    rel="stylesheet">

<div id="home">
    <div class="meteors-container">
        <span class="meteor" style="top: -5px; left: 199px; animation-delay: 0.648905s; animation-duration: 2s;"></span>
        <span class="meteor" style="top: -5px; left: 857px; animation-delay: 0.535386s; animation-duration: 8s;"></span>
        <span class="meteor" style="top: -5px; left: 1161px; animation-delay: 1.12896s; animation-duration: 2s;"></span>
        <span class="meteor" style="top: -5px; left: 351px; animation-delay: 1.07152s; animation-duration: 4s;"></span>
        <span class="meteor" style="top: -5px; left: 1048px; animation-delay: 0.636411s; animation-duration: 8s;"></span>
        <span class="meteor" style="top: -5px; left: 1142px; animation-delay: 0.925166s; animation-duration: 2s;"></span>
        <span class="meteor" style="top: -5px; left: 554px; animation-delay: 0.948466s; animation-duration: 6s;"></span>
        <span class="meteor" style="top: -5px; left: 862px; animation-delay: 1.06345s; animation-duration: 7s;"></span>
        <span class="meteor" style="top: -5px; left: 1356px; animation-delay: 1.05346s; animation-duration: 8s;"></span>
        <span class="meteor" style="top: -5px; left: 1270px; animation-delay: 1.01339s; animation-duration: 6s;"></span>
    </div>

    <div class="back overflow-hidden">
        <div class="imgnewstyley ">
            <video autoplay loop [playsInline]="true" loading="lazy" playsinline muted [muted]="'muted'"
                src="assets/image/video2.mp4" class="w-100 d-none" id="two"></video>
        </div>

        <div class="container" id="textnew">
            <div class="cont d-flex align-items-center">    
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <video autoplay loop [playsInline]="true" loading="lazy" playsinline muted [muted]="'muted'"
                            src="assets/image/video.mp4" class="w-100" id="one"></video>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div data-aos="fade-right" data-aos-duration="3000" class="detels text-white">
                        <p id="ooo" class="fa-3x">
                        <p id="ooo" class="fa-3x">
                            {{ t('home.welcome') }}
                            <span class="wave">👋</span>
                        </p>
                        <h2 class="fa-3x"> {{ t('home.iam') }} <span id="maintext">{{ t('home.name') }}</span></h2>




                        <div class="typing-container">
                            <h2 class="typing-effect">
                                <span>{{ currentText }}</span><span class="cursor">|</span>
                            </h2>
                        </div>
                        <p id="oo" class="fa-3x">{{ t('home.tagline') }} <span class="letter-1">❤️</span></p>
                        <nav>
                            <ul>
                                <li><a href="https://www.facebook.com/profile.php?id=100006490234174&mibextid=LQQJ4d"><i
                                            class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="Https://wa.me/+201285033997"><i class="fa-brands fa-whatsapp"></i></a>
                                </li>
                                <li><a
                                        href="https://www.instagram.com/ahmedhany.9?igsh=MWRyaGVhNHgzeG5sdQ%3D%3D&utm_source=qr"><i
                                            class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/ahmed-hany-03b643291/"><i
                                            class="fa-brands fa-linkedin"></i></a></li>
                            </ul>
                        </nav>
                        <!-- <a class="text-center d-flex align-items-center justify-content-center tt"
                            href="mailto:Ahmed.karim524382@gmail.com">
                            <h1 class="fa-1x d-block justify-content-center align-items-center ttg">Contact Me</h1>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>


        <div class="container" id="sectionthree">
            <div class="row text-capitalize">
                <div class="col-lg-8 text-light text-about">
                    <h1 class="text-head m-4 text-center">{{ t('home.storyTitle') }}</h1>
                    <p class="text-about">
                        {{ t('home.storyParagraph1') }}
                    </p>
                    <p class="text-about">
                        {{ t('home.storyParagraph2') }}
                    </p>
                    <p class="text-about">
                        {{ t('home.storyParagraph3') }}
                    </p>
                    <p class="text-about">
                        {{ t('home.storyParagraph4') }}
                    </p>
                    <p class="text-about">
                        {{ t('home.storyParagraph5') }}
                    </p>
                </div>
                <div class="col-lg-4 col-sm-7">
                    <div class="menu__container overflow-hidden">
                        <div class="menu"><img class="w-100" src="../../assets/image/2.jpg" alt="">
                            <span class="backicon"></span>
                            <ul class="list">
                                <li><a href="https://www.facebook.com/profile.php?id=100006490234174&mibextid=LQQJ4d"><i
                                            class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="Https://wa.me/+201285033997"><i class="fa-brands fa-whatsapp"></i></a>
                                </li>
                                <li><a
                                        href="https://www.instagram.com/ahmedhany.9?igsh=MWRyaGVhNHgzeG5sdQ%3D%3D&utm_source=qr"><i
                                            class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/ahmed-hany-03b643291/"><i
                                            class="fa-brands fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="sec-four text-capitalize">
            <div class="sectwo text-light d-flex align-items-center">
                <div class="container">
                    <p class="mt-5 fa-2x" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000"
                        data-aos-easing="ease-in-sine">{{ t('home.wowExperience') }}
                    </p>
                    <p class="mt-5 fa-2x text-end" data-aos="fade-left" data-aos-offset="300" data-aos-duration="2000"
                        data-aos-easing="ease-in-sine">{{ t('home.imagine') }}</p>
                </div>
            </div>
            <div class="container ">
                <div data-aos="zoom-in-down" data-aos-duration="1000" class="text-light text-center w-75 m-auto">
                    <p class="info">{{ t('home.digitalPassion') }}</p>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="isLoading" [class.hidden]="isHidden" class="loading-container">
        <iframe src="https://lottie.host/embed/38e9bace-35e4-41af-97d1-3f3862270424/stJq4KNcMh.lottie"></iframe>
    </div>

</div>
