<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Slackside+One&display=swap"
    rel="stylesheet">

<div id="home">

    <div class="back overflow-hidden">
        <div class="imgnewstyley ">
            <video autoplay loop [playsInline]="true" loading="lazy" playsinline muted [muted]="'muted'"
                src="assets/image/video2.mp4" class="w-100 d-none" id="two"></video>
        </div>

        <div class="container" id="textnew">
            <div class="cont d-flex align-items-center">
                <div id="rocket">
                    <i class="fa-solid fa-rocket"></i>
                    <i class="fa-solid fa-fire"></i>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <video autoplay loop [playsInline]="true" loading="lazy" playsinline muted [muted]="'muted'"
                            src="assets/image/video.mp4" class="w-100" id="one"></video>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div data-aos="fade-right" data-aos-duration="3000" class="detels text-white">
                        <p id="ooo" class="fa-3x">
                        <p id="ooo" class="fa-3x">
                            Welcome
                            <span class="wave">👋</span>
                        </p>
                        <h2 class="fa-3x"> I`am <span id="maintext">Ahmed Hany.</span></h2>




                        <div class="typing-container">
                            <h2 class="typing-effect">
                                <span>{{ currentText }}</span><span class="cursor">|</span>
                            </h2>
                        </div>
                        <p id="oo" class="fa-3x">You name it. Weve built it. <span class="letter-1">❤️</span></p>
                        <nav>
                            <ul>
                                <li><a href="https://www.facebook.com/profile.php?id=100006490234174&mibextid=LQQJ4d"><i
                                            class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="Https://wa.me/+201285033997"><i class="fa-brands fa-whatsapp"></i></a>
                                </li>
                                <li><a
                                        href="https://www.instagram.com/ahmedhany.9?igsh=MWRyaGVhNHgzeG5sdQ%3D%3D&utm_source=qr"><i
                                            class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/ahmed-hany-03b643291/"><i
                                            class="fa-brands fa-linkedin"></i></a></li>
                            </ul>
                        </nav>
                        <!-- <a class="text-center d-flex align-items-center justify-content-center tt"
                            href="mailto:Ahmed.karim524382@gmail.com">
                            <h1 class="fa-1x d-block justify-content-center align-items-center ttg">Contact Me</h1>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>


        <div class="container" id="sectionthree">
            <div class="row text-capitalize">
                <div class="col-lg-8 text-light text-about">
                    <h1 class="text-head m-4 text-center">I WILL <span>SHARE</span> MY STORY</h1>
                    <p class="text-about">
                        From a strong passion for technology, my journey evolved into an appreciation for programming as
                        a powerful means to tackle challenges and develop creative, forward-thinking solutions.
                    </p>
                    <p class="text-about">
                        I specialize in programming languages such as<span>JavaScript, TypeScript, C++ , SQL</span> and
                        <span>C#</span>, with a strong focus on developing innovative web technologies and products.
                        Driven by my passion for product development, I leverage <span>ASP.NET Core , ASP.NET MVC </span> alongside
                        cutting-edge JavaScript libraries and frameworks, including <span>Angular (16 & 17).</span>
                    </p>
                    <p class="text-about">
                        I am deeply passionate about creating <span>innovative web technologies and products</span>.
                    </p>
                    <p class="text-about">
                        Currently, I am focused on developing projects with <span>Angular</span> and <span>ASP.NET
                            Core</span>, aiming to deliver seamless and integrated web solutions while continuously
                        enhancing UI design and user experience.
                    </p>
                    <p class="text-about">
                        My programming philosophy emphasizes writing clean, maintainable code that adheres to
                        <span>SOLID principles</span> and <span>object-oriented programming (OOP)</span>. I thrive in
                        collaborative team environments, contributing to the creation of innovative and scalable
                        solutions.
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="card tilt-card">
                        <img src="../../assets/image/2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>


        <div class="sec-four text-capitalize">
            <div class="sectwo text-light d-flex align-items-center">
                <div class="container">
                    <p class="mt-5 fa-2x" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000"
                        data-aos-easing="ease-in-sine">Think of the last time you were really wowd by a digital
                        experience.
                    </p>
                    <p class="mt-5 fa-2x text-end" data-aos="fade-left" data-aos-offset="300" data-aos-duration="2000"
                        data-aos-easing="ease-in-sine">No really, close your eyes and imagine it.</p>
                </div>
            </div>
            <div class="container ">
                <div data-aos="zoom-in-down" data-aos-duration="1000" class="text-light text-center w-75 m-auto">
                    <p class="info">We ❤️ digital. We’ve spent our careers building it. Line by line, deliverable by
                        deliverable and
                        project by project. Take a look at our work and you’ll see how we are helping our partners lay
                        the
                        groundwork for the future of digital.</p>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="isLoading" [class.hidden]="isHidden" class="loading-container">
        <iframe src="https://lottie.host/embed/38e9bace-35e4-41af-97d1-3f3862270424/stJq4KNcMh.lottie"></iframe>
    </div>

</div>